GITEA__database__DB_TYPE={{ postgres.type }}

GITEA__database__HOST={{ postgres.host }}:{{ postgres.port }}

GITEA__database__NAME={{ postgres.database.name }}

GITEA__database__USER={{ postgres.database.user }}

GITEA__database__PASSWD={{ postgres.database.password }}

POSTGRES_DB={{ postgres.database.name }}

POSTGRES_USER={{ postgres.database.user }}

POSTGRES_PASSWORD={{ postgres.database.password }}