MARIADB_ROOT_PASSWORD=
MARIADB_DATABASE=bootstackdb
MARIADB_USER=bookstackuser
MARIADB_PASSWORD=
APP_URL=http://192.168.0.IP:6875
APP_KEY=base64:
DB_HOST=mariadb-datenbank
DB_DATABASE=bootstackdb
DB_USER=bookstackuser
DB_PASS=
DB_PORT=3306

